<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sideNav class="sidenav" mode="over" opened="false">
    <app-create-event></app-create-event>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">

    <br>

    <form [formGroup]="filter" class="filter">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <mat-select formControlName="filter" type="select">
          <mat-option value="all" (click)="getByType()">All</mat-option>
          <mat-option value="Skate" (click)="getByType()">Skate</mat-option>
          <mat-option value="Surf" (click)="getByType()">Surf</mat-option>
          <mat-option value="Snow" (click)="getByType()">Snow</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <br>
    <br>
    
    <div class="cardDisplay">
      <mat-card *ngFor="let events of events">
          <mat-card-header>
            <mat-card-title class="title"><h2>{{events.title}}</h2></mat-card-title>
          </mat-card-header>
          <img mat-card-image class="img-article">
          <mat-card-content>
            <p><b>Activity:</b> {{events.type}}</p>
            <p><b>Address:</b> {{events.location}}</p>
            <p><b>Date:</b> {{events.date}}</p>
          </mat-card-content>
          <mat-card-footer>
          <mat-card-actions>
            <a mat-button routerLink="/profile" class="card-btn"><b>Attending Event</b></a>
            <button mat-button color="secondary" class="card-btn" (click)="viewEvent(events.id)"><b>View Full</b></button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>
