.authCard{
    position: absolute;
    width: 30%;
    height: flex;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.btnBox {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

h2 {
    position: relative;
    top: 5%;
}

mat-form-field {
    width: 100%;
}