<mat-card class="authCard">
  

  <div *ngIf="loginView !== false" class="authDiv">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <h2>Sign In</h2>
      
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" class="form-control" name="email" required>
      </mat-form-field>

      <br>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" class="form-control" name="password" required />
      </mat-form-field>

      <br>

      <div class="btnBox">
        <button mat-button type="submit" class="submit-btn">Sign In</button>
        <button mat-button (click)="newUser()">Don't have an account?</button>
      </div>

    </form>
    
  </div>
  
  <div *ngIf="loginView === false">
    <form [formGroup]="signupForm" (ngSubmit)="signup()">

      <h2>Sign Up</h2>
      
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" class="form-control" name="username" required />
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" class="form-control" name="email" required />
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" class="form-control" name="password" required />
      </mat-form-field>
      
      <div class="btnBox">
        <button mat-button type="submit" class="submit-btn">Sign Up</button>
        <button mat-button (click)="newUser()">Already have an account?</button>
      </div>

    </form>
  </div>
    <div class="error" *ngIf="error">
      <p>{{message}}</p>
    </div>
    <br>
    
  

</mat-card>

