<mat-card class="authCard">

  <div *ngIf="loginView !== false" class="authDiv">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder" formControlName="email" type="email" class="form-control" name="email" required>
      </mat-form-field>

      <br>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Placeholder" formControlName="password" type="password" class="form-control" name="password" required />
      </mat-form-field>

      <br>

      <button mat-button type="submit" class="submit-btn">Sign In</button>
      <button mat-button (click)="newUser()">Toggle</button>

    </form>
  </div>
  
  <div *ngIf="loginView === false">
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Placeholder" formControlName="username" type="text" class="form-control" name="username" required />
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder" formControlName="email" type="email" class="form-control" name="email" required />
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Placeholder" formControlName="password" type="password" class="form-control" name="password" required />
      </mat-form-field>
      
      <button mat-button type="submit" class="submit-btn">Sign Up</button>
      
    </form>
  </div>
  
  <button mat-button (click)="newUser()">Toggle</button>

</mat-card>