<mat-toolbar class="{{this.boardService.navbarClass}} mat-toolbar mat-toolbar-single-row">

  <span>
    <img class='logo' alt='boards' src='../../assets/03f8734b-26d7-4d22-80f1-21e101ddc8bb.png' />
  </span>

  <div class='nav-spacing'></div>

  <span>
    <button mat-button routerLink='/home'>
      Home
    </button>
    <button mat-button *ngIf="logoutView() && viewCreateEvent()" (click)="token.toggleSideNav()">
      Create Event
    </button>
  </span>
  <span  *ngIf="logoutView()" class='links'>

      <button mat-button routerLink='/events'>
        Events
      </button>
      <button mat-button routerLink='/profile'>
        Profile
      </button>
      <button (click)="logOut()" mat-button routerLink='/login'>
        Logout
      </button>

    
    </span>
    <button  *ngIf="!logoutView()" mat-button routerLink='/login'>
      Login
    </button>

</mat-toolbar>
