.navbarHome{
    position: fixed;
    top: 0;
    width: 100vw !important;
    background-color: rgba(173, 173, 173, 0.8);
    z-index: 1 !important;
    height: 2.5em;
    /* box-shadow: 0px 0px 2px 0px rgba(140, 140, 140, 0.653); */
    color: #566F7C !important;
}

.navbarOther{
    position: fixed;
    top: 0;
    width: 100vw !important;
    background-color: rgb(173, 173, 173);
    z-index: 1 !important;
    height: 2.5em;
    /* box-shadow: 0px 0px 2px 0px rgba(140, 140, 140, 0.653); */
    color: #566F7C !important;
}

.logo {
    margin: .5em;
    padding-top: .5em;
    height: 5%;
    width: 8em;
    height: 6em;
    background-size: contain;
}

.nav-btn {
    text-decoration: none;
    float: right;
    margin-left: .5em;
    margin-right: .5em;
    position: relative;
    height: inherit;
}

.nav-spacing {
    flex: 1 1 auto;
}

.btn-wrapper {
    position: relative;
    height: inherit;
}

mat-toolbar img {
    width: 5em;
    height: 3em;
}

.navBtn{
    font-family: 'Roboto:300', sans-serif !important;
}
.salad {
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    /* font-family: 'Monoton', cursive; */
}