h2 {
    position: relative;
    top: 5%;
}

.createEventFormField {
    position: relative;
    width: 80%;
    float: center;
    margin: auto;
    left: 10%;
}

.submit-btn{
    display: inline;
}

.mat-drawer-inner-container{
    height: 100vh;
    overflow: hidden;
}