.createEventFormField {
    position: relative;
    width: 80%;
    float: center;
    margin: auto;
    left: 10%;
    color: #566F7C !important;
}

.createEventForm {
    margin-top: 6em !important;
}

.createEventSelect{
    color: #566F7C !important;
}

.createEventSelectOption{
    color: #566F7C !important;
}

.submit-btn{
    display: inline;
}

.mat-drawer-inner-container{
    height: 100vh;
    overflow: hidden;
}

mat-sidenav{
    background-color: #E8DFCD !important;
}

.btnBox{
    position: relative;
    float: right;
    right: 10%;
}

.createEventHeader{
    position: relative;
    top: 5%;
    left: 10%;
    font-family: 'Roboto', sans-serif;
    color: #566F7C !important;
}

@media only screen and (max-width: 600px) {
    .sidenav[_ngcontent-c6] {
        width: 90% !important;
        position: fixed;
    }
}