<div *ngIf="editView === true">
    
</div>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav class="sidenav" mode="over" opened="false">
        <app-create-event></app-create-event>
    </mat-sidenav>
    
    <mat-sidenav-content class="main-content">

        <div class="eventWrapper" *ngIf="editView === false">

            <h2>{{event.title}}</h2>
            <p>Activity: {{event.type}}</p>
            <p>Date: {{event.date}}</p>
            <p>Address: {{event.location}}</p>
            <p>Latitude: {{event.lat}}</p>
            <p>Longitude: {{event.long}}</p>
            <p>{{event.description}}</p>
            
            <button mat-button (click)="editToggle()">Edit</button>
            <button mat-button (click)="deleteEvent(event.id)">Delete Event</button>
        
        </div>

        <div *ngIf="editView !== false">
            <form [formGroup]="eventForm" (submit)="updateEvent(event.id)">

                <h2>Edit Event</h2>

                <mat-form-field appearance="outline">
                  <mat-label>Title</mat-label>
                  <input matInput placeholder={{event.title}} formControlName="title" type="title" class="form-control" name="title" value={{event.title}} defaultValue={{event.title}}>
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <mat-label>Activity</mat-label>
                  <mat-select placeholder={{event.type}} formControlName="type" type="select" class="form-control" name="type" required>
                    <mat-option value="Skate">Skate</mat-option>
                    <mat-option value="Surf">Surf</mat-option>
                    <mat-option value="Skate">Snow</mat-option>
                  </mat-select>
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <input matInput [matDatepicker]="picker" placeholder={{event.date}} formControlName="date" class="form-control" name="date" value={{event.date}} defaultValue={{event.date}}>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <mat-label>Latitude</mat-label>
                  <input matInput placeholder={{event.lat}}  formControlName="lat" class="form-control" name="latitude" value={{event.lat}} defaultValue={{event.lat}}>
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <mat-label>Longitude</mat-label>
                  <input matInput placeholder={{event.long}} formControlName="long" class="form-control" name="longitude" value={{event.long}} defaultValue={{event.long}}>
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <mat-label>Address</mat-label>
                  <input matInput placeholder={{event.location}} formControlName="location" class="form-control" name="location" value={{event.location}} defaultValue={{event.location}}>
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <mat-label>Description</mat-label>
                  <textarea matInput placeholder={{event.description}}  formControlName="description" class="form-control" name="description" value={{event.description}} defaultValue={{event.description}}></textarea>
                </mat-form-field>
              
                <div class="btnBox">
                  <button mat-button type="submit" class="submit-btn">Submit Changes</button>
                  <button mat-button (click)="editToggle()">Cancel</button>
                </div>

            </form>
        </div>

        <div>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>

                <mat-panel-title>
                  View Comments
                </mat-panel-title>

                <mat-panel-description>
                  HMMMmmmMMMMMMmmmm
                </mat-panel-description>

              </mat-expansion-panel-header>

              <div *ngFor="let comments of comments">
                {{comments.owner}}: {{comments.comment}}
              </div>
              
              <!-- <table mat-table>

                <ng-container matColumnDef="owner">
                  <th mat-header-cell *matHeaderCellDef> User </th>
                  <td mat-cell>{{comments.owner}}</td>
                </ng-container>

                <ng-container matColumnDef="comment">
                  <th mat-header-cell *matHeaderCellDef> Comment </th>
                  <td mat-cell>{{comments.comment}}</td>
                </ng-container>

              </table> -->

            </mat-expansion-panel>
          </mat-accordion>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
