.eventWrapper{
    position: relative;
    width: 95%;
    margin: auto;
    padding: 1em;
    border-radius: 3px;
    background-color: rgba(77, 77, 77, 0.605);
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
  
}

.sidenav-container {
    position: fixed;
    top: 3.1em;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: scroll;
}

.mat-sidenav-content {
    overflow: scroll;
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding-top: 2em;
    padding-bottom: 2em;
}

.mat-card {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px; */
    font-family: 'Raleway', sans-serif;
}

.eventBtn {
    position: relative;
    /* float: right; */
}

mat-accordian {
    width: 100%;
}

.sidenav {
    width: 40%;
}

#optionsFlex{
    flex: 1 1 auto;
    /* display: inline-block; */
}

.container1 {
    position: relative;
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    grid-column: 1;
    grid-row: 1;
    color: #E8DFCD;
    font-family: 'Raleway', sans-serif;
}

.container2 {
    position: relative;
    width: 70%;
    margin-left: 15% !important;
    margin-right: 15% !important;
    grid-column: 2;
    grid-row: 1;
}

.container3 {
    position: relative;
    width: 100%;
    grid-column: 1 / 3;
    color: #E8DFCD;
    font-family: 'Raleway', sans-serif;
}

.container4 {
    position: relative;
    width: 100%;
    grid-column: 1 / 3;
}

/* .commentsWrapper button {
    float: right;
} */

.commentsWrapper .comments {
    color: blue;
}

.commentsWrapper {
    margin: 1em;
    padding: 1em;
    
}

.commentBtn {
    width: 100%;
    text-align: right;
}


.directions button {
    width: 300px;
    margin-top: 1em;
    background-color: rgb(141, 155, 144);
    color: beige;
}
    

.Snow{
    /* background-color: #CC6A72; */
    background-image: url("../../assets/images/pamela-saunders-384317-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-color: #509799;
}

.Skate{
    /* background-color: #6B818C; */
    /* background-color: #509799; */
    background-image: url("../../assets/images/matteo-paganelli-39971-unsplash.jpg");
    background-repeat: no-repeat;
    /* background-position: right; */
    background-size: cover;
    background-color: #509799;
}

.Surf{
    /* background-color: #DE8A74; */
    background-image: url("../../assets/images/img3.jpg");
    background-repeat: no-repeat;
    /* background-position: right; */
    background-size: cover;
    background-color: #509799;
}

agm-map {
    z-index: 0 !important;
    position: relative;
    grid-column: 2;
    grid-row: 1;
    margin: auto;
    height: 300px;
    width: 300px;
}

mat-card-header {
    z-index: 1 !important;
}

.weather-mat-card {
    overflow: visible;
    height: 14vh;

}

.mat-expansion-panel-content {
    font-family: 'Raleway', sans-serif;
}

.grid-tile {
    background-color: #ACE4FD;
    border-radius: 10%;
    border: .5px black solid;
    height: 100px !important;
    width: 230px !important;
    color: rgb(95, 95, 95);
    font-family: 'Raleway', sans-serif;
}

mat-grid-tile:hover {
    box-shadow: 3px 3px 4px rgb(62, 62, 62)!important;
}

mat-grid-tile .mat-figure {
    margin-left: .5em;
    margin-right: .5em;
}

.weather-title {
    z-index: 1 !important;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #E8DFCD;
}

.weather-content {
    z-index: 1 !important;
}

.temp {
    font-size: 40px;
    font-size-adjust: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}