.eventWrapper{
   position: relative;
   margin: 2em 2em;
}
.sidenav-container {
    position: fixed;
    top: 3.1em;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: scroll;
}
.mat-sidenav-content {
    overflow: scroll;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;

}

.sidenav {
    width: 35%;
}
