<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sideNav class="sidenav" mode="over" opened="false">
      <app-create-event></app-create-event>
  </mat-sidenav>
    
  <mat-sidenav-content class="main-content">
    <mat-card>

      <div class="eventWrapper" *ngIf="editView === false">

        <mat-card-header>
          <mat-card-title>
            {{event.title}}
          </mat-card-title>

          <div id="optionsFlex"></div>
          <button mat-button [matMenuTriggerFor]="menu" *ngIf="event.user.username === editButtonCheck() || deleteButtonCheck()"><mat-icon>launch</mat-icon></button>
          <mat-menu #menu="matMenu">

            <button mat-menu-item *ngIf="event.user.username === editButtonCheck()" (click)="editToggle()">Edit</button>
            <button mat-menu-item *ngIf="event.user.username === editButtonCheck() || deleteButtonCheck()" (click)="deleteEvent(event.id)">Delete Event</button>
          </mat-menu>

        </mat-card-header>

        <p>Hosted by {{event.user.username}}</p>
        <p>{{event.type}}</p>
        <p>{{event.date}}</p>
        <p>{{event.location}}</p>
        <p>{{event.lat}}</p>
        <p>{{event.long}}</p>
        <p>{{event.description}}</p>

      </div>

      <div *ngIf="editView !== false">
        <form [formGroup]="eventForm" (submit)="updateEvent(event.id)">

          <h2>Edit Event</h2>

          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder={{event.title}} formControlName="title" type="title" class="form-control" name="title" value={{event.title}} defaultValue={{event.title}}>
          </mat-form-field>
              
          <mat-form-field appearance="outline">
            <mat-label>Activity</mat-label>
            <mat-select placeholder={{event.type}} formControlName="type" type="select" class="form-control" name="type" required>
              <mat-option value="Skate">Skate</mat-option>
              <mat-option value="Surf">Surf</mat-option>
              <mat-option value="Snow">Snow</mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker" placeholder={{event.date}} formControlName="date" class="form-control" name="date" value={{event.date}} defaultValue={{event.date}}>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        
          <mat-form-field appearance="outline">
            <mat-label>Latitude</mat-label>
            <input matInput placeholder={{event.lat}}  formControlName="lat" class="form-control" name="latitude" value={{event.lat}} defaultValue={{event.lat}}>
          </mat-form-field>
        
          <mat-form-field appearance="outline">
            <mat-label>Longitude</mat-label>
            <input matInput placeholder={{event.long}} formControlName="long" class="form-control" name="longitude" value={{event.long}} defaultValue={{event.long}}>
          </mat-form-field>
              
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder={{event.location}} formControlName="location" class="form-control" name="location" value={{event.location}} defaultValue={{event.location}}>
          </mat-form-field>
        
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder={{event.description}}  formControlName="description" class="form-control" name="description" value={{event.description}} defaultValue={{event.description}}></textarea>
          </mat-form-field>
              
          <div class="btnBox">
            <button mat-button type="submit" class="submit-btn">Submit Changes</button>
            <button mat-button (click)="editToggle()">Cancel</button>
          </div>
          
        </form>
    </div>

    <div>
      <mat-accordion>
        <mat-expansion-panel>

          <mat-expansion-panel-header>

            <mat-panel-title>
              View Comments
            </mat-panel-title>

          </mat-expansion-panel-header>

          <button mat-button class="addCommentBtn" (click)="addCommentToggle()">Add Comment</button>
          <br>

          <div *ngIf="addCommentView === true">
            <form [formGroup]="commentForm" (ngSubmit)="createComment()">

              <textarea matInput formControlName="comment" placeholder="Make a comment..." type="text" class="form-control" name="addComment" required></textarea>

              <button mat-button type="submit" >Save Comment</button>

            </form>
          </div>

          <div *ngFor="let comments of comments">
            <div class="commentsWrapper">
            <!-- <div class="btnBox"> -->
                <button *ngIf="comments.user.username === editButtonCheck()" mat-icon-button (click)="editCommentToggle(comments.id)"><mat-icon>create</mat-icon></button>
  
                <button *ngIf="comments.user.username === editButtonCheck() || deleteButtonCheck()" mat-icon-button (click)="deleteComment(comments.id)"><mat-icon>delete</mat-icon></button>
            <!-- </div> -->
            <!-- <div class="commentBox"> -->
            {{comments.user.username}}: {{comments.comment}}
            <!-- <div id="optionsFlex"></div> -->
            <!-- </div> -->
            
            <!-- <div class="btnBox">
              <button *ngIf="comments.user.username === editButtonCheck()" mat-icon-button (click)="editCommentToggle(comments.id)"><mat-icon>create</mat-icon></button>

              <button *ngIf="comments.user.username === editButtonCheck() || deleteButtonCheck()" mat-icon-button (click)="deleteComment(comments.id)"><mat-icon>delete</mat-icon></button>
            </div> -->

            <div *ngIf="editCommentViewArray[comments.id] === true">
              <form [formGroup]="commentEditForm" (ngSubmit)="updateComment(comments.id)">

                <textarea matInput formControlName="comment" placeholder="Edit comment..." type="text" class="form-control" name="editComment" required></textarea>
                
                <button mat-button type="submit">Save Edits</button>

              </form>
            </div>
          </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>