<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sideNav class="sidenav" mode="over" opened="false">
    <app-create-event></app-create-event>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">

    <br>

    <h2 class="welcome">Welcome, {{username}}!</h2>

    <br>
    <br>

    <div class="cardDisplay">
        <mat-card *ngFor="let userEvents of userEvents" class="{{userEvents.type}}card mat-card">
          <div class="contentForCard">
            <mat-card-header >
              <mat-card-title class="title"><h2>{{userEvents.title}}</h2></mat-card-title>
            </mat-card-header>
            <img mat-card-image class="img-article">
            <mat-card-content>
              <p><b>Activity:</b> {{userEvents.type}}</p>
              <p><b>Address:</b> {{userEvents.location}}</p>
              <p><b>Date:</b> {{userEvents.date}}</p>
            </mat-card-content>

            <mat-card-footer>
            <mat-card-actions>
              <a mat-button routerLink="/profile" class="card-btn">Attending Event</a>
              <button mat-button color="secondary" class="card-btn" (click)="viewEvent(userEvents.id)">View Full</button>
            </mat-card-actions>
          </mat-card-footer>
        </div>
        </mat-card>
      </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>