<div class="viewEvent" *ngFor="let userEvent of userEvents">
<button (click)="viewEvent(userEvent.id)">(view)</button>
</div>

      
      <!-- <div class="cardDisplay">
        <mat-card *ngFor="let userEvent of userEven">
            <mat-card-header >
              <mat-card-title class="title">{{userEvent.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="img-article">
            <mat-card-content>
              <p>Activity: {{userEvent.type}}</p>
              <p>Address: {{userEvent.location}}</p>
              <p>Date: {{userEvent.date}}</p>
            </mat-card-content>
            <mat-card-footer>
            <mat-card-actions>
              <a mat-button routerLink="/profile" class="card-btn">Attending Event</a>
              <button mat-button color="secondary" class="card-btn" (click)="viewEvent(events.id)">View Full</button>
            </mat-card-actions>
          </mat-card-footer>
        </mat-card>
      </div> -->
