

<div class="parallax1">

<slideshow  [height]="'900px'"
[minHeight]="'800px'"
[autoPlay]="true"
[showArrows]="false"
[imageUrls]="imageSources"
[lazyLoad]="imageSources?.length > 1"
[autoPlayWaitForLazyLoad]="true"
[showDots]="true"

>
</slideshow>
</div>
<!-- <div class="parallax1">
</div> -->
    



<br />
<div class="content">
    <div >
        <img class="logo" width="300" alt="Board Meeting Logo" src="../assets/e851d179-1f63-466c-b679-f56b0330a2db.png">
    </div>
    <br />
    <div>
        <h5 class="home-info">Chat with friends. Sign up for events. Create your own get togethers. Build a community of boarders with Board Meeting, the social sports app designed for bringing together seasoned athletes and novices alike. Create an account to learn more about how you can contribute to a growing social hub of board-sport enthusiasts!</h5>
    </div>
</div>

<div class="parallax2">
</div>

<footer>
    <p class="footer">Created By EFA Board Boiz</p>
</footer>