<div class="parallax1">

</div>

<br />
<div style="text-align:center">
    <!-- <img width="300" alt="Angular Logo" src="../assets/e851d179-1f63-466c-b679-f56b0330a2db.png"> -->
    <h1>Board Meeting</h1>
</div>
<br />
<div>
    <h2 class="home-title">The Ultimate Boarder Hangout</h2>
    <p class="home-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident nisi, autem, ducimus quidem natus, repellendus itaque perferendis libero odio saepe similique recusandae fugiat! Quis, repellendus illum. Perferendis nisi libero quo!</p>
</div>