.parallax1 {
    background-image: url("../../assets/images/matteo-paganelli-39971-unsplash.jpg");
    height: 80vh;
    position: relative;
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
    overflow: hidden;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-title {
    text-align: center;

}

.home-info {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}