<div class="parallax1">

</div>

<!-- <div class="container-fluid">
    <div class="col-12">
        <ng-template ngbSlide>
            <img src="../../assets/images/kevin-horstmann-345350-unsplash.jpg" alt="" />
            <div class="carousel-caption">
                <h3>Some Text HERE</h3>
                <p>This carousel uses customized default values.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../assets/images/mikael-kristenson-73280-unsplash.jpg" alt="" />
            <div class="carousel-caption">
                <h3>Some Text HERE</h3>
                <p>This carousel uses customized default values.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../assets/images/shawn-henry-581506-unsplash.jpg" alt="" />
            <div class="carousel-caption">
                <h3>Some Text HERE</h3>
                <p>This carousel uses customized default values.</p>
            </div>
        </ng-template>
        
    </div>
</div> -->

<br />
<div style="text-align:center">
    <img width="300" alt="Angular Logo" src="../assets/e851d179-1f63-466c-b679-f56b0330a2db.png">
</div>
<br />
<div>
    <h2 class="home-title">The Ultimate Boarder Hangout</h2>
    <p class="home-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident nisi, autem, ducimus quidem natus, repellendus itaque perferendis libero odio saepe similique recusandae fugiat! Quis, repellendus illum. Perferendis nisi libero quo!</p>
</div>