.parallax1 {
   
    height: 100vh;
    position: relative;
    /* padding-top: 200px; 
    padding-bottom: 200px; */
    overflow: hidden;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:0
}

.parallax2 {
    background-image: url("../../assets/images/img5.jpg");
    height: 75vh;
    position: relative;
    /* padding-top: 200px; 
    padding-bottom: 200px; */
    overflow: hidden;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    text-align: center;
    z-index: 1;
    border-top: 4px rgba(62, 62, 62, 0.653);

}

.logo {
    margin-top: 4em;
}

.home-info {
    text-align: center;
    vertical-align: middle;
    /* display: table-cell; */
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
     
     /* font-family: 'Permanent Marker', cursive; */
/* font-family: 'Monoton', cursive; */
    margin-left: 15%;
    margin-right: 15%;
    padding: 1em;
}

.footer {
    z-index: 1;
    margin: 2em;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 600px) {
    .home-info[_ngcontent-c6] {
        font-size: 16px !important;
        margin-top: 0px;
    } 
}


